* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'League Spartan', sans-serif;
}
:root {
    --fonte-h1-desktop: 60px;
    --fonte-paragrafos-desktop: 25px;
    --fonte-h2-desktop: 36px;
    --branco: #FFFFFF;
    --vinho-principal: #A71B1B;
}
body {
    background-color: #2C2B2B;
}
h1 {
    color: var(--branco);
    font-size: var(--fonte-h1-desktop);
}
h2 {
    color: var(--branco);
    font-size: var(--fonte-h2-desktop);
}
p {
    color: var(--branco);
    font-size: var(--fonte-paragrafos-desktop);
}
/*nav*/
header {
    height: 62px;
}
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: 'League Spartan';
}
.nav-logo {
    width: 5.75rem;
    margin: 3% 0 0 0.875rem;
}
.links-navegation {
    display: flex;
    margin-right: 2.75rem;
    align-items: center;
    height: 100%;
}
.links-navegation ul {
    display: flex;
    gap: 2.563rem;
    list-style: none;
}
.links-navegation a {
    color: var(--branco);
    font-size: 20px;
    font-weight: 500;
    text-decoration: none;
}
.links-navegation a::after {
    content: '';
    width: 0;
    height: 3px;
    background-color: var(--vinho-principal);
    display: block;
    transition: width 0.4s;
}
.links-navegation a:hover::after {
    width: 100%;
}
/*nav*/

/*main-session | Seção Sobre*/
#sobre-session {
    height: 28.938rem;
    background: url('../img/bg-main-session.jpg') no-repeat top center/cover;
    border: 1px solid var(--branco);
}
.container-sobre {
    display: flex;
    align-items: center;
    gap: 3rem;
}
.white-cube-img {
    width: 27rem;
    margin-left: 49px;
}
.introducao {
    width: 50rem;
    display: flex;
    flex-direction: column;
    gap: 1.063rem;
}
.introducao span {
    color: var(--vinho-principal);
}
/*main-session | Seção Sobre*/