* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'League Spartan', sans-serif;
    scroll-behavior: smooth;
}
:root {
    --fonte-h1-desktop: 60px;
    --fonte-paragrafos-desktop: 25px;
    --fonte-h2-desktop: 36px;
    --branco: #FFFFFF;
    --vinho-principal: #A71B1B;
    --background-color-light: #2C2B2B;
    --background-color-dark: #1E1E1E;
}
body {
    background-color: var(--background-color-dark);
}
h1 {
    color: var(--branco);
    font-size: var(--fonte-h1-desktop);
}
h2 {
    color: var(--branco);
    font-size: var(--fonte-h2-desktop);
}
p {
    color: var(--branco);
    font-size: var(--fonte-paragrafos-desktop);
}
.bold {
    font-weight: 700;
}
/*nav*/
header {
    height: 62px;
    background-color: var(--background-color-light);
}
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: 'League Spartan';
}
.nav-logo {
    width: 5.75rem;
    margin: 3% 0 0 0.875rem;
}
.links-navegation {
    display: flex;
    margin-right: 2.75rem;
    align-items: center;
    height: 100%;
}
.links-navegation ul {
    display: flex;
    gap: 2.563rem;
    list-style: none;
}
.links-navegation a {
    color: var(--branco);
    font-size: 20px;
    font-weight: 500;
    text-decoration: none;
}
.links-navegation a::after {
    content: '';
    width: 0;
    height: 3px;
    background-color: var(--vinho-principal);
    display: block;
    transition: width 0.4s;
}
.links-navegation a:hover::after {
    width: 100%;
}
/*nav*/

/*main-session | Seção Sobre*/
#sobre-session {
    height: 28.938rem;
    background: url('../img/bg-main-session.jpg') no-repeat top center/cover;
    border: 1px solid var(--branco);
}
.container-sobre {
    display: flex;
    align-items: center;
    gap: 3rem;
}
.white-cube-img {
    width: 27rem;
    margin-left: 49px;
}
.introducao {
    width: 50rem;
    display: flex;
    flex-direction: column;
    gap: 1.063rem;
}
.introducao span {
    color: var(--vinho-principal);
}
/*sobre-session | Seção Sobre*/
/*informacoes-session | Seção Informações*/
#informacoes-session h1{
    margin: 3.813rem 0 3.75rem 0;
    text-align: center;
}
.container-informacoes {
    width: 80rem;
    margin: 0 auto;
}
.container-informacoes h2 {
    text-indent: 34px;
}
.container-informacoes img {
    width: 36rem;
    height: 22rem;
    object-fit: cover;
    border: 1px solid var(--branco);
    border-radius: 2px;
}
.box {
    display: flex;
    justify-content: space-between;
    margin-bottom: 3.063rem;
}
.box h2 {
    margin-bottom: 1.813rem;
}
.inner-box-informacoes > p:first-of-type {
    margin-bottom: 20px;
}
.inner-box-informacoes {
    width: 37rem;
}
.games {
    width: 210px;
    margin: 40px auto;
}
.games p {
    margin-bottom: 9px;
    text-align: start;
}
    /*Carousel Configurations*/
.galery {
    max-width: 36rem;
}
.slider {
    overflow: hidden;
}
.slider figure {
    position: relative;
    width: 400%;
    animation: slider 20s infinite;
}
.slider figure img {
    float: left;
    width: 25%;
}
@keyframes slider {
    0% {
        left: 0;
    } 20% {
        left: 0;
    } 25% {
        left: -100%;
    } 45% {
        left: -100%;
    } 50% {
        left: -200%;
    } 70% {
        left: -200%;
    } 75% {
        left: -300%;
    } 100% {
        left: -300%;
    }
}
    /*Carousel Configurations*/
.prizes {
    text-align: center;
    margin-bottom: 9px;
}
/*informacoes-session | Seção Informações*/